.classNode .nodeField {
/*	padding: 0px 0px 0px 30px; */
/* 	margin-top:5px; */
	margin-bottom:15px;
	text-align:left!important;
} 

::placeholder {
	font-style:italic;
}

.rootTreeNode {
	padding:15px;
	height:100%;
	overflow:auto;
	width:100%;
	color:#495057;
	margin-top:0px;
	margin-bottom:0px;
}

.rootTreeNode div {
	line-height: normal;
	margin-top: 5px;
}

.rootTreeNode .scopeSelector {
	margin-bottom: 0px;
}

.nodeName{
	text-align:left!important;
	font-size: inherit;
}

/* check-box group */
.booleanField {
	margin-top:10px;
}

.classNode .classNode .optionalChildren .booleanField {
	padding-right:0px;
}

/* change checkbox group order */
.booleanField {
	display: flex;
    flex-direction: row;
	align-items:center;
	position:relative;
}
.booleanField .nodeName {
	order:2;
	padding-right:30px;
}

.booleanField .description {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 85%;
    width:auto;
}

.booleanField div div {
	width:100%;
}

.nodeName label {
	font-size: inherit;
	color:inherit;
}

/* check-box strictly-speaking */
.booleanField label {
	order: 1;
	display:flex;
	align-items:bottom;
}

.booleanField span {
	font-size:1rem;
	margin-top:0px!important;
}

.booleanField label{
	margin-bottom:0px;
}

.booleanField div .resetBtn {
	top:5px;
	position:absolute;
}

.stringField {
	margin-bottom:0px!important;
}

.stringField div .resetBtn i {
	top: 1px!important;
}

.stringField div textarea {
	line-height:inherit;
	padding:10px 12px;
	margin-bottom:5px;
}

.classNode .classNode .optionalChildren .stringField, 
.classNode .classNode .optionalChildren .classNode,
.classNode .classNode .optionalChildren .mappingField {
	padding-right:0px;
}

.mappingField {
	padding-right:0px!important;
}

.hidden {
	display:none;	
}

.mappingTable .classNode {
	display:flex;
	flex-wrap:wrap;
	position:relative;
}

.mappingTable .advancedSettingsBtn {
	margin-top:0px!important;
}

.sharedObjectImg {
    left: 5px;
    cursor: pointer;
    position: absolute;
    top: 40%;
    transform: translate(0%, -65%);
    z-index: 500;
    width: 30px!important;
    filter: grayscale(1) brightness(1.50);
}

.sharedObjectImg:hover{
	filter: grayscale(0) brightness(1);	
}

	
.resetBtn i {
	position:absolute!important;
	right:-9px;
	content:url('icons/icon_reset_gray.svg');
	width:1rem!important;
	margin-right:5px;
	top:-4px;
	border-radius:50%;
}

.resetBtn i:hover{
	content:url('icons/icon_reset_red.svg');
	box-shadow: 0 0 0 10px rgba(207,49,49,0.2);
	transform: rotate(90deg);
	transition-duration: .5s;
}

.classNode .mandatoryChildren {
}

.classNode .advancedSettingsBtn{
	margin-top:10px!important;
	margin-bottom:3px;
	font-size:9pt!important;
	color:#1d7ae2;
}

.classNode .advancedSettingsBtn a {
	height:20px;
	color:#0066cc;
	font-weight:500; /*semi-bold*/
	font-size:13px;
	text-align:center;
	margin-left:8px;
}

.classNode .advancedSettingsBtn a:hover {
	text-decoration: underline!important;
}

.classNode .advancedSettingsBtn a:before {
	content:'Less';
}

.classNode .advancedSettingsBtn a[class="collapsed"]:before {
	content:'More';
}
	
.classNode .optionalChildren{
	margin:0px 0px 30px 10px;
}

.classNode .shareButton{
	background-color:#FFFFFF;
	color: #42A5F5;
	cursor: pointer;	
}

.classNode .sharePanel{
	float: right;
	padding-bottom: 10px;
}

/* Convert-to-object popup */
.classNode .convertTaskDialog{
	width: fit-content!important;
	height: fit-content;
	background-color: white!important;
}

.classNode .dialogContent{
	padding-bottom: 0px;
	border: 0px;
}

.classNode .cancelConversionBtn{
	margin-right: 24px!important;
	margin-left: 20px!important;
	background-color: #F44336;
}

.classNode .doConversionBtn{
	margin-right: 20px!important;
	background-color: #4CAF50;
}

.nodeField {
	margin:10px 0px;
}

.hideAdvancedSettings{
	display:none;
}

.nodeField .nodeName {
	margin-bottom: 0px; 
}

.helperText {
	position:relative;
	top:-10px;
	font-size:0.7rem;
}

.emptyMessage{
	padding-top: 10px;	
}

.comboBox {
	width:100%;
	margin-top:0px;
	margin-bottom:0px;
	text-align: left;
}

.paddingLeft40 span[class="select2-selection__rendered"] {
	padding-left: 40px!important;
}

.comboBox label {
	top:13px!important;
}

.classNode .comboBox .resetBtn i {
	top:-4px;
}

.mappingTable {
	display:flex;
	width:100%;
	box-shadow: none;
	border: none;
	padding:0px;
}

.mappingTablePair div {
	padding-left:0px;
	padding-right:0px;
}

.mappingCell input {
	margin-bottom:0px!important;
}

.mappingCell label {
	left:0px!important;	
}

.mappingCell {
	margin-left:0px!important;
	margin-right:15px;
	padding-left:0px!important;
	padding-right:0px!important;
}

.mappingCell div {
	margin-top:0px;
	
}

.mappingCell .advancedSettingsBtn {
	margin-top:0px!important;
}

.mappingCell .advancedSettingsBtn a {
	font-size:8pt;
}

.mappingTablePair {
	display:flex;	
	margin-top: 0px!important;
	position:relative;
	margin-bottom:10px;
}

.newPairBtn {
    position: absolute;
    width: fit-content!important;
    right: -30px;
    top: -20px;
}

.newPairBtn:hover i {
	transform:scale(1.2);
	color: #00e700!important;
}


.newPairBtnSharedObject {
	background-color: #42a5f5;
    color: white!important;
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    top: 90px;
    width: 25px;
    height: 25px;
    z-index :1;
}

.newPairBtnSharedObject:hover i {
	transform:scale(1.2);
	background-color: #00e700;	
	border-radius: 50%;
}

.deleteRowBtn {
	position: absolute;
    width: fit-content!important;
}

.deleteSharedObject {
	right: -10px;
}

.deletePropertyMap {
	right: -18px;
	padding: 0!important;
}

.deleteRowBtn:hover i {
	transform:scale(1.2);
	color: red;
}

.keyError input {
	background-color: #FFA896!important;
}

.mappingFieldError{
	color:#F44336!important;
}

.dialogBtn {
	color : white!important;
	min-width: fit-content;
	margin-right: 20px!important;
}

.cancelDialogBtn {
	background-color : red!important;
	margin-left: 20px!important;
}

.confirmDialogBtn {
	background-color : green!important;
}

.titleDialog {
	margin-top : 20px;
	margin-left : 10px;
}

.containerSelectedClass span[class="select2-selection__rendered"]
{
	padding-left : 12px!important;
}

.jarClass{
	text-align : right!important;
	font-style: italic;
	font-size: small;
    color: #bcbcbc;
}

.hasChildren{
	padding-bottom : 15px;
}

span[class="select2-selection__arrow"]
{
	top: 10px!important;
    right: 6px!important;
}
